<div class = "message">
	<br/><br/>
	<form>Message:<br>
	<textarea class="form-control" rows="3"></textarea>
	</form>
	<br/><br/>
</div>

<button type="submit" class="btn btn-default send">Send Message </button>